body{
    background-color: blue;
    font-family: 'Arial';
}
.beginning{
    height: 600px;
    width: 100%;
    background-color: #5b36ff;
    margin-bottom: 60px;
    transition: 0.8s;
}
.beginning:hover{
    background-color: purple;
}
.beginning img{
    display: inline-block;
    width: 50%;
}
.beginning .info{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color:
}
h1 {
    color: red;
    font-size: 60px;
}
.beginning p{
    font-size: 50px;
    color: greenyellow;
}
.beginning i{
    margin-right: 10px;
}
.menu{
    width: 100%;
    height: 100px;
    background-color: darkblue;
    vertical-align:bottom;
}
.blocks {
    text-align: center;
    vertical-align: middle;
}
.block{
    display: inline-block;
    width: 33%;
    height: 100px;
    color: red;
    font-size: 35px;
    transition: 0.8s;
}
.block p{
    margin-left: 15px; 
}
.block i{
    margin-right: 15px;
}
.block:hover{
    background-color: white;
}
.block:hover p{
    color: black;
}
.block:hover a{
    color: black;
}
.block a{
    color: red;
    text-decoration: none;
}
.mainheader{
    color: greenyellow;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
.line{
    width: 100%;
    height: 550px;
    text-align: center;
    margin-bottom: 30px;
}
.event{
    width: 550px;
    height: 300px;
    background-color: #5b36ff;
    margin: 30px 10px;
    transition: 0.8s;
    box-shadow: 10px 5px 4px 2px black;
}
.event:hover{
    background-color: purple;
}
.event img{
    width: 275px;
    height: 300px;
    display: inline-block;
}
.event .info{
    width: 265px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
Main{
    position: relative;
    bottom: 30px;
}
.date{
    color: yellow;
    font-size: 25px;
}
.event h2{
    color: greenyellow;
    font-size: 25px;
}
.but{
    vertical-align: bottom;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: black;
    color: white;
    margin-top: 70px;
    font-size: 20px;
    animation-name: colour;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
button {
    position: fixed;
    right: 15px;
    bottom: 40px;
}
button a{
    color: black;
}
Footer{
    background-color: #5b36ff;
    color: white;
    width: 90%;
    height: 250px;
    margin: 20px auto;
    box-shadow: 10px 5px 4px 2px black;
    transition: 0.8s;
    border-radius: 30px;
    margin-top: 30px;
}
Footer .info{
    text-align: center;
    color: greenyellow;
    font-size: 25px;
}
Footer:hover{
    background-color: purple;
    transform: scale(1.1, 1.1);  
}
a {
    color: greenyellow;
    text-decoration: none;
}
button {
    position: fixed;
    right: 15px;
    bottom: 40px;
    background-color: #5b36ff;
    border-radius: 10px;
}
button a{
    color: red;
}
@keyframes colour{
    0%{border: 5px solid red;}
    25%{border: 5px solid yellow;}
    50%{border: 5px solid violet;}
    75%{border: 5px solid lightgreen;}
    100%{border: 5px solid red;}
}
@media (min-width: 1180px){
    .block {
        display: inline-block;
    }
    .line{
        height: 300px;
    }
    .event{
        display: inline-block;
    }
}
@media (max-width: 1179px){
    .menu{
        height: 400px;
        width: 100%;
    }
    .blocks{
        height: 400px;
        vertical-align: middle;
    }
    .block
    {
        width: 100%;
        height: 110px;
        margin-bottom: 20px;
    }
    .beginning{
        height: 1100px;
    }
    .beginning img{
        width: 100%;
        height: 500px;
    }
    .beginning .info{
        width: 100%;
        height: 500px;
    }
    .line{
        height: 620px;
    }
}